@{
    ViewBag.Title = "Clothes Online!";
}

<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <div>
        <div class="row text-center mb-5">
            <img src="~/Images/Homepage.jpg" class="img-responsive" />
        </div>
    </div>
</body>